
.navbar-icon {
  // padding: 0 14px;
  margin: 0 10px;
}

.navbar-spacer {
  flex: 1 1 auto;
}
.badge {
  margin-left: auto;
  background: var(--accent-blue);
  // color: #fff; 
  font-size: 11px;
  padding: 2px 8px; border-radius: 99px;
}